<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kết hợp Click và Hiển thị Thông tin</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Thay thế bằng API Client ID của bạn -->
    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=83bfuniegk"></script>
</head>
<body>

<div id="map" style="width:100%;height:600px;"></div>

<script>
    var map = new naver.maps.Map('map', {
        zoom: 5,
        center: new naver.maps.LatLng(37.3614483, 127.1114883)
    });

    var markerList = [];
    var infoWindow = new naver.maps.InfoWindow(); // Cửa sổ hiển thị thông tin

    // Sự kiện click chuột trái để tạo marker và hiển thị thông tin
    naver.maps.Event.addListener(map, 'click', function(e) {
        // Tạo marker tại vị trí click
        var marker = new naver.maps.Marker({
            position: e.coord,
            map: map
        });

        markerList.push(marker);

        // Nội dung hiển thị thông tin (tọa độ vị trí marker)
        var coordHtml = 'Tọa độ: ' + e.coord.toString();

        // Hiển thị thông tin ngay tại vị trí của marker
        infoWindow.setContent('<div style="padding:10px;">' + coordHtml + '</div>');
        infoWindow.open(map, marker);
    });

    // Sự kiện right-click chuột phải để hiển thị tọa độ
    naver.maps.Event.addListener(map, 'rightclick', function(e) {
        var coordHtml = 'Tọa độ: ' + e.coord.toString();

        infoWindow.setContent('<div style="padding:10px;">' + coordHtml + '</div>');
        infoWindow.open(map, e.coord); // Hiển thị tọa độ tại vị trí click chuột phải
    });

    // Sự kiện nhấn phím ESC để xóa tất cả các marker và đóng cửa sổ thông tin
    naver.maps.Event.addListener(map, 'keydown', function(e) {
        if (e.keyCode === 27) { // ESC key
            for (var i = 0; i < markerList.length; i++) {
                markerList[i].setMap(null);
            }
            markerList = [];
            infoWindow.close(); // Đóng cửa sổ thông tin nếu đang mở
        }
    });

</script>
</body>
</html>
