<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
    <title>Sign In</title>
</head>

<body>
<main class="p-3">
    <div class="mx-auto w-50">
        <h1>Login</h1>
        <a href="/views">Back</a>
        <form id="signin-form">
            <div class="mb-3">
                <label for="username-input" class="form-label">User Name</label>
                <input type="text" id="username-input" class="form-control">
            </div>
            <div class="mb-3">
                <label for="password-input" class="form-label">Password</label>
                <input type="password" id="password-input" class="form-control">
            </div>
            <button id="login-button" type="submit" class="btn btn-primary">Login</button>
            <br>
            Login in with   <a href="/oauth2/authorization/naver">
                <img src="/static/img/naver-icon.png" alt="Login with Naver" style="width: 30px; height: 30px;">
            </a>

        </form>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<script src="/static/js/user/signin.js"></script>

</body>

</html>